.animation-close{
  display: block;
    animation: close-opacity 0.7s ease-in;
    animation-iteration-count: 1;
}
  @keyframes close-opacity {
    from {
        opacity: 1;
    }
  
    to {
        opacity: 0;
    }
  }