.image-container {
    position: fixed;
    left: 50%;
    top: 15%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    flex-direction: column;
}

@media screen and (max-width: 600px) {
    .image-container {
        margin: 35% auto;
    }
}