.popup_type_image__title{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF;
    align-self: flex-end;
    margin: 0 -55px -28px 0;
}
