.profile__add-button {
    background-color: #000000;
    width: 150px;
    min-height: 50px;
    max-height: 50px;
    margin: 35px 0 0 auto;
    border: 2px solid #FFFFFF;
    border-radius: 2px;
    background-image: url("../../../images/vector/plus.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 22px 22px;
}

.profile__add-button:hover{
    opacity: 0.6;
}

@media screen and (max-width: 879px) {
    .profile__add-button {
        margin: 36px auto 0;
        width: 89.5%;
        padding: 0;
        background-size: 16px 16px;
    }
}