.card__button-delete{
    position: absolute;
    background-image: url(../../../images/vector/delete_card.svg);
    background-repeat: no-repeat;
    width: 18px;
    height: 19px;
    border: 0;
    background-color: rgba(28,28,28,0);
    right: 21px;
    top: 20px;
    cursor: pointer;
}

.card__button-delete:hover{
    opacity: 0.6;
}